<div class="cocktails">
  <div class="large-pic">
    <h1> My cocktails </h1>
  </div>
<div class="grid-cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
    <%= link_to cocktail_path(cocktail) do %>
    <div class="small-pic">
      <% if cocktail.photo %>
      # <%= image_tag cocktail.photo.url(:thumbnail) %>
      <% else %>
      <%= image_tag 'cock.jpg' %>
      <% end %>
    </div>
      <div class="name">
        <h2><%= cocktail.name %> </h2>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
