<div class="container mt-5 col-6 offset-3">
  <h2> Enter a new cocktail </h2>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.submit "add a cocktail", class: "btn btn-primary" %>
  <% end %>
</div>

